<p id="notice"><%= notice %></p>



<h1 align="center">Listing all activities</h1>

<% @activities.each do |activity| %>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="object-title">
        <td><%= link_to truncate(activity.description, lenght: 30), activity_path(activity) %></td>
      </div>
      <div class="object-body">
        <%= activity.date %>
      </div>
      <div class="object-body">
        <%= activity.habit.title %>
      </div>
      <div class="button-actions">
        <%= link_to 'Edit this activity', edit_activity_path(activity), class: "btn btn-xs btn-primary" %>
        <%= link_to 'Delete this activity', activity_path(activity), method: :delete, data: {confirm: "Are you sure you want to delete the activity?"}, class: "btn btn-xs btn-danger" %>
      </div>
    </div>
  </div>
</div>
<% end %>
